
/* Main Elements */

html, body {
  box-sizing: border-box;
  margin:0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

.center-container {
  margin: 0 auto;
  width: 960px;
}

/* Grids */

.collumns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.full-section-collumn {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.half-section-collumn {
  width: 460px;
  padding-left: 10px;
  padding-right: 10px;
}

.two-thirds-section-collumn {
  width: 640px;
  padding-left: 10px;
  padding-right: 10px;
}

.one-thirds-section-collumn {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-gray {
  background-color: #f4f7f9;
}

.bg-beige {
  background-color: #f9f5f0;
}

.bg-blue {
  background-color: #32425c;
}

.bg-dark-blue {
  background-color: #293449;
}

/* Typography */

.headline-1,
h2.headline-1 {
  display: block;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

.big-headline-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 25px 14px 28px;
}

.big-headline-block .headline-1,
.big-headline-block h2.headline-1 {
  margin-bottom: 15px;
}

.small-headline-block {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding: 7px 18px 7px;
  margin-top: 0;
  margin-bottom: 12px;
}

.small-headline-block h2 {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.blue-font {
  color: #32425c;
}

.cuprum-regular {
  font-family: 'Cuprum', Arial, sans-serif;
}

.cuprum-bold {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 700;
}

.cuprum-italic {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: italic;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  line-height: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-content p {
  margin-top: ;
  margin-bottom: 25px;
}

/* Buttons */

.middle-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  min-height: 38px;
  text-align: center;
}

.red-button {
  color: #ffffff;
  background-color: #ee3643;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.white-button {
  background-color: #ffffff;
  color: #000000;
}

.transparent-button,
a.transparent-button {
  background-color: rgba(0,0,0,0.1);
  color: #ffffff;
}

.transparent-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.transparent-button:active {
    background-color: rgba(0,0,0,0.3);
}

.border-button {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.border-button:hover {
  border-color: #bdc6ca;
}

.border-button:active {
  border-color: #ee3643;
}

.border-button.current {
  border: none;
  background-color: #ee3643;
  color: #ffffff;
}

.extra-large-button {
  width: 250px;
}

/* Header Top Row */

.header-top-row {
  display: flex;
  justify-content: space-between;
  min-height: 42px;
}

.header-top-row-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 490px;
}

.header-top-row-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.header-top-row-right a {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  min-width: 150px;
  padding: 12px 20px;
}

.header-top-row-right a:hover {
  background-color: #212a3a;
}

.header-top-row-right a:active {
  color: rgba(255,255,255,0.6);
  background-color: #161d29;
}

.header-top-row-right a.header-order {
  background-color: #63a63e;
}

.header-top-row-right a.header-order:hover {
  background-color: #5fbb2d;
}

.header-top-row-right a.header-order:active {
  color: rgba(255,255,255,0.5);
  background-color: #518534;
}

a.header-bookmark {
  position: relative;
  padding-left: 46px;
  padding-right: 10px;
}

a.header-bookmark::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 16px;
  top: 12px;
  left: 18px;
  background: url("../img/icon-bookmark.svg") no-repeat;
  opacity: 0.3;
}

a.header-bookmark:hover::before {
  opacity: 1;
}

a.header-bookmark:active::before {
  opacity: 0.5;
}

a.header-cart {
  position: relative;
  padding-left: 50px;
  padding-right: 10px;
}

a.header-cart::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background: url("../img/cart-icon.svg") no-repeat;
  opacity: 0.3;
}

a.header-cart:hover::before {
  opacity: 1;
}

a.header-cart:active::before {
  opacity: 0.5;
}

a.item-added {
  background-color: #ee3643;
}

a.item-added:hover {
  background-color: #ca2c37;
}

a.item-added:active {
  background-color: #ba2732;
}

a.nav-logo {
  display: flex;
  background-color: #ee3643;
  position: relative;
  z-index: 11;
  width: 220px;
  height: 42px;
}

a.nav-logo:hover {
  background-color: #ca2c37;
}

a.nav-logo:active {
  background-color: #ba2732;
}

a.nav-logo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #ee3643;
  border-bottom: 5px solid rgba(0,0,0,0.24);
  z-index: 10;
}

.nav-logo img {
  width: 108px;
  height: 18px;
  margin: auto;
}

.header-search {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.header-search input {
  width: 100%;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.header-search input::placeholder {
  color: #ffffff;
}

.header-search input:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-search button {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 0;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  border: none;
  top: 12px;
  left: 17px;
  z-index: 50
}

.header-search svg {
  position: absolute;
  width: 17px;
  height: 17px;
  fill: #ffffff;
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.header-search:hover svg {
  fill: #ffffff;
  opacity: 1;
}

.header-search-input:focus ~ svg {
  fill: #ee3643;
  opacity: 1;
  z-index: 1;
}

/* Header Middle Row */

.header-middle-row {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}

.header-company-description {
  padding-top: 4px;
  padding-left: 52px;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  max-width: 260px;
}

.header-contacts {
  width: 270px;
}

a.header-phone {
  display: block;
  position: relative;
  padding: 9px 50px 9px 70px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 4px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  border: 3px solid #ffffff;
}

a.header-phone::before {
  position: absolute;
  content: '';
  left: 15px;
  top: 10px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg") no-repeat;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  font-style: normal;
}

.enter-button {
   display: inline-block;
   vertical-align: top;
   font-size: 21px;
   line-height: 21px;
   padding: 11px 24px;
   margin-left: 10px;
   color: #000000;
   background-color: #ffffff;
   text-decoration: none;
 }

.enter-button:first-child {
    margin-left: 0;
  }

.enter-button:hover,
.enter-button a:hover {
   color: #ee3643;
 }

.enter-button:active,
.enter-button a:active {
   color: rgba(0,0,0,0.3);
 }

.header-login {
   position: relative;
   padding-left: 48px;
 }

.header-login svg {
   position: absolute;
   left: 14px;
   top: 13px;
 }

.header-login:hover svg {
   fill: #32425C;
 }

.header-login:active svg {
   fill: #c5c5c5;
 }

.user-entered {
   position: relative;
   width: 300px;
   padding: 13px 46px;
   background-color: #ffffff;
   text-decoration: none;
   margin-bottom: 3px;
 }

.user-entered a {
   text-decoration: none;
   font-size: 21px;
   line-height: 21px;
   color: #000000;
 }

.quit-icon {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 21px;
  height: 17px;
  border: none;
  background: none;
  top: 16px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.quit-icon:hover svg {
  fill: #32425c;
}

.quit-icon:active svg {
  fill: #c5c5c5;
}

.user-entered-icon {
  position: absolute;
  left: 14px;
  top: 13px;
  }

.user-entered-icon:hover svg {
    fill: #32425c;
  }

.user-entered-icon:active svg {
    fill: #c5c5c5;
  }

 .user-entered:active {
   color: rgba(0,0,0,0.3);
 }


ul.header-account-menu {
   list-style: none;
   padding: 0;
   margin: 0;
   margin-right: auto;
}

.header-account {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.header-account-menu li {
   margin-left: 36px;
   display: inline-block;
   vertical-align: top;
   position: relative;
 }

.header-account-menu li:first-child {
    margin-left: 16px;
  }

.header-account-menu li:not(:first-child):before {
   content: "";
   position: absolute;
   left: -20px;
   top: 10px;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background-color: #32425c;
  }

.header-account-menu a {
   font-size: 16px;
   line-height: 18px;
   color: #32425c;
 }

.header-account-menu a:hover {
    color: #ee3643;
  }

.header-account-menu a:active {
     color: rgba(0,0,0,0.3);
   }

/* Header Bottom Row */

.header-bottom-row {
  padding-top: 38px;
  padding-bottom: 60px;
  border-bottom: 1px solid transparent;
}

.header-main-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 60px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: #ffffff;
}

.header-main-navigation li {
  display: flex;
  flex: 1 1 auto;
}

.header-main-navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 18px 30px;
}

.header-main-navigation a:hover {
  background-color: #1d2739;
}

.header-main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* Banners */

.index-banners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 33px;
}

.small-banner {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;
  height: 123px;
  padding-top: 20px;
  padding-left: 22px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.index-banners > .small-banner:first-of-type {
  margin-left: 0;
}

.small-banner-title {
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 13px;
}

.small-banner .middle-button {
  display: block;
  width: 135px;
}

.big-banners-slider {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 620px;
  height: 266px;
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  padding-top: 24px;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

.current-slide {
  z-index: 1;
}

.banner-slide h3 {
  color: white;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 2px;
  margin-top: 0;
  text-transform: uppercase;
}

.banner-slide p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.previous-slide-button {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 42%;
  left: 25px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
}

.next-slide-button {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 42%;
  right: 25px;
  width: 22px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
}

.previous-slide-button svg,
.next-slide-button svg {
  fill: #ffffff;
}

.big-banners-slider .middle-button {
  position: absolute;
  width: 195px;
  left: 25px;
  bottom: 22px;
  z-index: 2;
}

.banner-switcher {
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: 37px;
  z-index: 3;
  font-size: 0;
  line-height: 0;
  list-style: none;
  padding: 0;
}

.switcher-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;

}

.switcher-item:last-child {
  margin-right: 0;
}

.current.switcher-item {
  cursor: auto;
}

.current.switcher-item::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #ee3643;
}

.banner-perforators {
  background: url("../img/upload/banners/perforators-promo.jpg") no-repeat;
}

.banner-drills {
  background: url("../img/upload/banners/drills-promo.jpg") no-repeat;
}

.vertical-banner-wrapper {
  display: flex;
  flex-direction: column;
}

.banner-materials {
  background-color: #ffbf47;
  background-image: url("../img/upload/banners/materials.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
}

.banner-tools {
  background-color: #3bbce3;
  background-image: url("../img/upload/banners/tools.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: 197px 33px;
}

.banner-equipment {
  background-color: #dc91d8;
  background-image: url("../img/upload/banners/equipment.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.banner-discounts {
  background-color: #8ed78f;
  background-image: url("../img/upload/banners/discounts.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: 196px 26px;
}

.banner-delivery {
  background-color: #ffbf47;
  background-image: url("../img/upload/banners/delivery.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
}

/* Popular Items */


/* Popular Vendors */

.popular-vendors {
  padding-bottom: 65px;
}

.popular-vendors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-vendors-item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-left: 20px;
  margin-bottom: 20px;
}

.popular-vendors-item a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.popular-vendors-item img {
  width: auto;
}

.popular-vendors-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.popular-vendors-item:active {
  box-shadow: 0 4px 10px 0 rgba(41,52,73,0.50);
}

/* Services */

.services {
  padding-top: 45px;
}

ul.vertical-tab-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 279px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  margin-right: 60px;
}

.vertical-tab-slider::before {
  position: absolute;
  content: '';
  z-index: 1;
  width: 10px;
  height: 279px;
  top: 0;
  right: 0;
  background: url("../img/vertical-tab-slider-shadow.png") no-repeat;
}

.vertical-tab-slider button {
  width: 100%;
  display: block;
  padding: 16px 22px;
  text-align: left;
  font-size: 21px;
  line-height: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  box-shadow: inset 0 -1px 0 #293449, inset 0 1px 0 #405069;
  cursor: pointer;
}

.vertical-tab-slider button:hover {
  background-color: #293449;
}

.vertical-tab-slider button.current {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.vertical-tab-slides {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  min-height: 314px;
}

.vertical-tab-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #f4f8f9;
}

.vertical-tab-slide.current {
  z-index: 1;
}

.vertical-tab-slide h3 {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  max-width: 420px;
  text-transform: uppercase;
}

.vertical-tab-slide button {
  display: inline-block;
  vertical-align: top;
  min-width: 195px;
}

.vertical-tab-slide-delivery {
  background-image: url("../img/upload/services-tab-slider/delivery.png");

}

.vertical-tab-slide-guarantee {
  background: url("../img/upload/services-tab-slider/guarantee.png") no-repeat;
}

.vertical-tab-slide-credit {
  background: url("../img/upload/services-tab-slider/credit.png") no-repeat;
}

.vertical-tab-slide-delivery p {
  max-width: 300px;
}

.vertical-tab-slide-guarantee p {
  max-width: 380px;
}

.vertical-tab-slide-credit p {
  margin-bottom: 25px;
  max-width: 300px;
}

/* About Company and Contacts */

.company-and-contacts {
  padding-top: 60px;
  padding-bottom: 87px;

}

.index-about-company {
  padding-right: 80px;
}

.company-partners-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin-top: -5px;
  padding: 0;
}

.company-partners-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.company-partners-list li:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.index-about-company .middle-button {
  display: inline-block;
  vertical-align: top;
  min-width: 220px;
  margin-top: 16px;
}

.index-contacts .middle-button {
  display: block;
  width: 100%;
  min-width: 220px;
}

.map {
  position: relative;
  width: 300px;
  height: 158px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.map img {
  position: absolute;
  width: 300px;
  height: 158px;
}

.map iframe {
  position: absolute;
  width: 300px;
  height: 158px;
  border: none;
  z-index: 10;
}

/* Catalog */

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.bread-crumbs li {
  margin-right: 40px;
  position: relative;
}

.bread-crumbs li:not(:first-child)::before {
  position: absolute;
  content: '';
  left: -22px;
  top: 2px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") no-repeat;
}

.bread-crumbs a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

/* Filter */

.catalog-filter {
  width: 220px;
}

.catalog-items {
  width: 700px;
}

.price-contols {

  padding: 40px 20px 38px;
  margin-bottom: 10px;
}

.price-contols .price-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.price-contols .scale-bar {
  width: 80%;
  height: 100%;
  background-color: #00ca74;
}

.price-range {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ABABAB;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 0 rgba(171,171,171,0.3);
  cursor: pointer;
}

.price-range-min {
  top: -10px;
  left: 0%;
}

.price-range-max {
  top: -10px;
  left: 80%;
}

.output-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.output-fields output {
  display: inline-block;
  vertical-align: top;
  height: 38px;
  width: 95px;
  padding: 7px 8px 9px;
  text-align: center;
  font-size: 17px;
}


.catalog-filter fieldset {
  border: none;
  padding:0;
  margin: 0;
}

.catalog-filter hr {
  border: none;
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 16px;
}

.catalog-filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.catalog-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter li {
  margin-bottom: 16px;
}

.catalog-filter label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 35px;
  padding-top: 3px;
}

.vendors-checkbox input {
  display: none;
}

.vendors-checkbox label::after {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  left: 0;
  top: 0;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
}

.vendors-checkbox label:hover::after {
  border-color: #b5b5b5;
}

.vendors-checkbox input:checked + label::before {
  position: absolute;
  content: '';
  width: 19px;
  height: 11px;
  box-shadow: -2px 2px 0 #ffffff, -6px 6px 0 #c5c5c5, -8px 8px 0 #ffffff;
  transform: rotate(-45deg);
  top: -7px;
  left: 6px;
  z-index: 10;
}

.vendors-checkbox input:checked + label:hover::before {
  box-shadow: -2px 2px 0 #ffffff, -6px 6px 0 #b5b5b5, -8px 8px 0 #ffffff;
}

.catalog-filter input:disabled + label {
  opacity: 0.4;
}

.charging-radio input {
  display: none;
}

.charging-radio label::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.charging-radio label:hover::after {
  border-color: #b5b5b5;
}

.charging-radio input:checked + label::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.charging-radio input:checked + label:hover::before {
  background-color: #b5b5b5;
}

.charging-radio input:disabled + label {
  opacity: 0.4;
}

.catalog-filter button.border-button {
  margin-top: 60px;
  width: 140px;
  cursor: pointer;
}

/* Sort */

.catalog-items-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.sort-item {
  flex-grow: 1;
  display: flex;
}

.sort-item:last-child {
  flex-grow: 0;
}

.catalog-items-sort h2 {
  flex-grow: 2;
}

.catalog-items-sort a {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  border-bottom-color: #ee3643;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-right: -8px;
}

.catalog-items-sort a:hover {
  color: rgba(0,0,0,1);
  border-bottom-style: solid;
}

.catalog-items-sort a:active {
  opacity: 1;
  color: #ee3643;
  border: none;
}

.catalog-items-sort a.current  {
  opacity: 1;
  color: #ee3643;
  border: none;
}

.sort-triangles-wrapper {
  line-height: 0;
  position: relative;
}

a.sort-triangle {
  width: 24px;
  height: 24px;
  text-decoration: none;
  border: none;
}

a.sort-triangle:not(:first-child) {
  margin-left: 16px;
}

a.sort-triangle::after {
  position: absolute;
  content: '';
  top: 1px;
  left: 6px;
  width: 12px;
  height: 8px;
  border: 6px solid transparent;
  border-bottom: 10px solid #c5c5c5;
}

a.sort-triangle:hover {
  border: none;
}

a.sort-triangle:hover::after {
  border-bottom-color: #000000;
}

a.sort-triangle:active::after {
  border-bottom-color: #ee3643;
}

.sort-down {
  transform: rotate(180deg);
}

.current.sort-triangle::after{
  border-bottom-color: #ee3643;
}

/* Catalog Items */

.shifting-left {
  position: relative;
  margin-left: -20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 0;
}

.catalog-product-item {
  position: relative;
  width: 220px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  text-align: center;
}

.catalog-product-item:hover {
  z-index: 1;
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.new-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../img/new-product.png") no-repeat 0 0;
  z-index: 30;
}

.product-buttons-on-hover {
  display: none;
}

.catalog-product-item:hover .product-buttons-on-hover  {
  display: block;
  width: 100%;
  height: 170px;
  position: absolute;
  background-color: #ffffff;
  padding: 44px 41px 0px 41px;
  margin: 0;
  list-style: none;
}

.product-buttons-on-hover li:not(:first-child) {
  margin-top: 10px;
  position: relative;
}

.add-to-cart-button {
  width: 100%;
  position: relative;
  background: #63A63E;
  color: #ffffff;
  padding: 10px 45px 10px 50px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;
  border: none;
  cursor: pointer;
}

.add-to-cart-button::before {
  position: absolute;
  content: '';
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background: url('../img/cart-icon.svg') no-repeat 0 0;
}

.add-to-cart-button:hover {
  background-color: #5fbb2d;
}

.add-to-cart-button:hover::before {
  opacity: 1;
}

.add-to-cart-button:active {
  background-color: #518534;
  box-shadow: none;
}

.add-to-bookmarks-button {
  width: 100%;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid  #63a63e;
  border-radius: 2px;
  padding: 7px;
  color: #32425c;
  background-color: #ffffff;
  cursor: pointer;
}

.add-to-bookmarks-button:hover {
  border-color: #32425c;
}

.add-to-bookmarks-button:active {
  opacity: 0.3;
}

.catalog-product-item a {
  display: block;
  text-decoration: none;
  font-size: 0px;
  line-height: 0px;
}

.product-item-image {
  width: 218px;
  height: 170px;
}

.product-item-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 10px 15px;

}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
  margin: 10px 15px;
}

.price-button {
  width: 122px;
  padding: 11px 0 11px 15px;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 2px 0 0 2px;
  margin: 10px 20px 18px 10px;
}

.price-button::after {
  content: '';
  position: absolute;
  right: -40px;
  top: 0;
  border: 20px solid transparent;
  border-left: 20px solid #ee3643;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 32px 0 60px 0;
}

.border-button {
  display: inline-block;
  vertical-align: top;
  min-width: 38px;
  min-height: 38px;
  padding: 9px 12px 9px 12px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
}

.catalog-info {
  padding-top: 45px;
  padding-bottom: 56px;
}

/*  Footer */

.footer-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .nav-logo {
  min-height: 63px; /* 68px-5px(inset shadow)=63px */
}

img.footer-big-nav-logo {
  width: 136px;
  height: 21px;
}

.footer-main-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding:0;
  margin: 0;
  margin-top: 35px;
  font-size: 18px;
  line-height: 24px;
  max-width: 560px;
}

.footer-main-navigation li,
.footer-secondary-navigation li {
  margin-right: 60px;
}

.footer-main-navigation li:last-child,
.footer-secondary-navigation li:last-child {
  margin-right: 0;
}

.footer-main-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.footer-main-navigation a:hover {
  text-decoration: underline;
}

.footer-main-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 34px;
  padding-bottom: 48px;
}

.footer-address {
  flex-basis: 330px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
}

.footer-address a {
  text-decoration: none;
  color: inherit;
}

.footer-secondary-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  list-style: none;
  margin: 0;
  padding:0;
  font-size: 18px;
  line-height: 24px;
}

.footer-secondary-navigation a {
  color: #ffd180;
  text-decoration: none;
}

.footer-secondary-navigation a:hover {
  text-decoration: underline;
}

.footer-secondary-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-third-row {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-third-row b {
  font-weight: 400;
}

.footer-third-row a {
  color: #ffd180;
  text-decoration: none;
}

.footer-third-row a:hover {
  text-decoration: underline;
}

.footer-third-row a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright {
  display: inline-block;
  vertical-align: top;
}

.footer-social-buttons {
  display: flex;
  list-style: none;
  padding:0;
  padding-left: 70px;
  margin: 0;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212a3a;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-right: 4px;
}

.social-btn svg {
  fill: #ffffff;
}

.social-btn:hover  {
  background-color: #ee3643;
}

.feedback-and-site-developer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-right: 15px;
  list-style: none;
}

.feedback-and-site-developer li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

/* Modal Index */

.modal {
  display: none;
  position: fixed;
}

.modal-show {
  display: flex;
  animation-name: fade;
  animation-duration: 0.3s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.write-us {
  z-index: 500;
  width: 620px;
  height: 430px;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -215px;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75), inset 0 7px 0 #ee3643;
}

.close-modal-button {
  display: block;
  position: absolute;
  content: '';
  background: url("../img/red-cross.svg") no-repeat;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 21px;
  top: 16px;
  right: 9px;
}

.write-us form {
  position: relative;
}

.modal-content-wrapper {
  margin: 50px 80px 110px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-modal-width {
  display: inline-block;
  vertical-align: top;
  width: 220px;
}

.write-us .half-modal-width:last-child {
  margin-right: 0;
}

.write-us .full-modal-width {
  width: 100%;
}

.write-us textarea,
.write-us input,
.write-us label,
.write-us .middle-button {
  width: 100%;
}

.write-us label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.write-us input,
.write-us textarea {
  font-size: 13px;
  line-height: 18px;
  padding: 7px 15px 9px 15px;
  margin: 0;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  box-sizing: border-box;
}

.write-us input {
  min-height: 38px;
}

.write-us textarea {
  min-height: 114px;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  color: #a9a9a9;
}

.write-us .field {
  margin-bottom: 20px;
}

.red-border {
  border-color: #ff0000;
}

.bottom-gray-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 80px;
  background-color: #f4f4f4;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.modal-map {
  z-index: 500;
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  margin-left: -470px;
  margin-top: -223px;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
}

.modal-map img,
.modal-map iframe {
  position: absolute;
  width: 940px;
  height: 446px;
  border: none;
}


/* Modal Catalog */

.cart-popup {
  z-index: 500;
  width: 620px;
  height: 290px;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -215px;
  background: #ffffff;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75), inset 0 7px 0 #ee3643;
}

.cart-popup h2.headline-1 {
  text-transform: none;
}

.green-check {
  position: relative;
  padding-left: 100px;
}

.green-check::before {
  position: absolute;
  content: '';
  width: 66px;
  height: 66px;
  background-color: #63a63e;
  border-radius: 50%;
  top: -20px;
  left: 0;
}

.green-check::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 35px;
  top: -18px;
  left: 22px;
  border-radius: 1px;
  box-shadow: 7px 7px 0 #ffffff;
  transform: rotate(45deg);
}

.cart-popup .middle-button:not(:first-child) {
  margin-left: 20px;
}

/* Animation */

@keyframes fade {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}
